.signUpWrapper {
    overflow: hidden;
    height: 700px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.innersignUpWrapper {
    border-radius: 5%;
    border: 1px solid rgba(0, 242, 255, 0.493);
    background: rgba(0, 242, 255, 0.164);
    height: 500px;
    width: 70%;
    top: 40%;
    position: absolute;
    left: 50%;
}