div.dashbutton {
    text-align: center;
    font-size: medium;
    border-radius: 60px 30px;
    padding: 12px;
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: inherit;
    border: none;
    color: white;
    transition: 0.2s;

}

.dashbutton:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transition: 0.2s;
}

h1.dashbutton {
    padding: 10px;
    border-radius: 30px 30px;
    transition: 0.2s;
}

h1.dashbutton:hover {
    transition: 0.2s;
    background-color: rgba(0, 242, 255, 0.493);
}