.goalwrapper {}

.innergoalwrapper {
  height: 400px;
}


.goalnavbar {

  width: 600px;
  height: 150px;
  top: 20dvh;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;

}

.goalhr {
  position: absolute;
  top: 18dvh;
  width: 600px;
}

.goalback {
  height: 350px;
  position: fixed;
  top: 40dvh;
  overflow-y: scroll;
  width: 600px;
}

.addbtnG {
  background-color: inherit;
  color: white;
  border: 2px outset orange;
  width: 20dvh;
  cursor: pointer;
  height: 4dvh;
  position: fixed;
  left: 60dvh;
}


.styled-scrollbars2::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.styled-scrollbars2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 242, 255, 0.295);
}

.styled-scrollbars2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgb(48, 45, 59);
  border-radius: 10px;
}